@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


.presentation {
  display: flex;
  width: 100%;
  position: relative;
}

.jobs {
  font-family: montserrat;
  font-weight: 400;
  margin-left: 0.5em;
}

.h2 {
  font-family: playfair-display;
  width: 100%;
}

.h1 {
  font-family: playfair-display;
}