@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playfair+Display:wght@500&display=swap');


.footer {
  margin-top: 3rem;
}

.p {
  font-family: montserrat;
  font-weight: 300;
  font-size: 15px;
}